aiodns~=3.6
aiofiles==25.1.0
aiohttp~=3.13
asyncio-throttle==1.0.2
backoff~=2.2
click~=8.3
cryptography~=46.0
Django~=5.2
django-filter==25.2
django-guid~=3.5
django-import-export~=4.0
django-lifecycle==1.2.6
djangorestframework==3.16.1
djangorestframework-queryfields==1.1.0
drf-access-policy~=1.5.0
drf-nested-routers==0.95.0
# NO UPPER BOUND: drf-spectacular==0.27.2
dynaconf~=3.2
gunicorn~=25.0
jinja2==3.1.6
json_stream~=2.4
jq~=1.11
PyOpenSSL~=25.0
opentelemetry-api~=1.39
opentelemetry-sdk~=1.39
opentelemetry-exporter-otlp-proto-http~=1.39
protobuf~=6.0
pulp-glue~=0.37
pygtrie==2.5.0
psycopg~=3.3
pyparsing~=3.3
python-gnupg~=0.5
PyYAML~=6.0
redis~=7.1
tablib~=3.0
url-normalize~=2.2
uuid6==2025.0.1
whitenoise~=6.11
yarl~=1.22
# NO UPPER BOUND: django-storages[sftp]==1.14.6
# NO UPPER BOUND: django-storages[boto3]==1.14.6
# NO UPPER BOUND: django-storages[google]==1.14.6
# NO UPPER BOUND: django-storages[azure]==1.14.6
# NO UPPER BOUND: django-prometheus
# NO UPPER BOUND: cloudevents==1.11.0
confluent-kafka~=2.13
# NO BETTER CONSTRAINT: pyinstrument~=5.0
# NO BETTER CONSTRAINT: memray~=1.17
uvloop~=0.22
